.content button
{
    background-color: #4799eb;
    margin: 20px;
    color: #fff;
    font-weight: 400;
    font-size: 600;
}

.info h6{
    color: #7a8288;
    font-size: 15px;
}

.row
{
    color: #7a8288;
}